@font-face {
        font-family: Cloud Candy;
        src: url('font/Cloud\ Candy.ttf');
    }


    @font-face {
        font-family: LT Asus Mono;
        src: url('LTAsusMono-Bold.ttf');
    }

    @font-face {
        font-family: LT Asus Mono;
        src: url('LTAsusMono-Italic.ttf');
    }

    @font-face {
        font-family: LT Amber;
        src: url('font/lt_amber/LT\ Amber\ Cond\ Demibold.otf');
    }

     @font-face {
        font-family: LT Amber;
        src: url('font/lt_amber/LT\ Amber\ Cond\ Bold.otf.otf');
    }

    body {
        padding: 5px;
        font-size: 20px;
        color: #00499c;
        text-align: center;
        background-size: cover;
        align-items: center;
        background-position: center;
        background-image: url("bgs/procreate.jpg");
        background-repeat: repeat-y;
    }


    h1 {
        font-family: Cloud Candy;
        src: url('font/Cloud\ Candy.ttf');
        color: #620052;
        margin-left: 70px;
        margin-right: 70px;
        font-size: 50px;
        text-align: center;
        margin-top: 0px;
        margin-bottom: 5px;

    }

    h2 {
        font-family: LT Asus Mono;
        src: url('LTAsusMono-Bold.tff');
        color: rgb(100, 0, 133);
        margin-left: 70px;
        margin-right: 70px;
        font-size: 40px;
        text-align: center;

    }

    h3 {
        font-family: LT Asus Mono;
        src: url('LTAsusMono-Italic.tff');
        color: rgb(100, 0, 133);
        margin-left: 70px;
        margin-right: 70px;
        font-size: 30px;
        text-align: center;
        flex-wrap: wrap;

    }

    p {
        font-family: Lt Amber;
        src: url('font/lt_amber/LT\ Amber\ Cond\ Bold.otf');
        color:#0b53fb;
        margin-left: 70px;
        margin-right: 70px;
        font-size: 20px;
        text-align: justify;
        text-align-last: center;
        flex-wrap: wrap;
    }


    div p {
        background:rgba(134, 159, 255, 0.42);
        font-family: Lt Amber;
        src: url('font/lt_amber/LT\ Amber\ Cond\ Bold.otf');
        color:#003e32;
        margin-left: 70px;
        margin-right: 70px;
        font-size: 20px;
        outline-style: double;
        outline-color: #c1ff3b;
        padding-left: 10px;
        padding-right: 10px;
        text-align: justify;
        text-align-last: center;
        flex-wrap: wrap;
    }


    /* layout */

    @media only screen and (max-width: 600px) {
  h1 {
    font-size: 60px;
  }
  h3 {
    font-size: 16px;
  }
}

    @media only screen and (max-width: 400px) {
  h1 {
    font-size: 40px;
  }
  h3 {
    font-size: 14px;
  }
}
