    @font-face {
        font-family: Cloud Candy;
        src: url('font/Cloud\ Candy.ttf');
    }


    @font-face {
        font-family: LT Asus Mono;
        src: url('LTAsusMono-Bold.ttf');
    }

    @font-face {
        font-family: LT Asus Mono;
        src: url('LTAsusMono-Italic.ttf');
    }

    @font-face {
        font-family: LT Amber;
        src: url('font/lt_amber/LT\ Amber\ Cond\ Demibold.otf');
    }

     @font-face {
        font-family: LT Amber;
        src: url('font/lt_amber/LT\ Amber\ Cond\ Bold.otf.otf');
    }

body {
        padding: 5px;
        background-size: cover;
        align-items: center;
        background-position: center;
        background-image: url("bgs/procreate.jpg");
        background-repeat: repeat-y;
    }
 
    .button .label {
        position: absolute;
        opacity: 0;
        transition: opacity 0.3s ease;
        font-family: LT Asus Mono;
        src: url('LTAsusMono-Bold.tff');
        color: rgb(0, 41, 174);
        font-size: 20px;
    }

    .button a:hover img {
        transform: scale(1.2);
        opacity: 0.3;
    }

    .button a:hover .label {
        position: absolute;
        opacity: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1; 
    }

    .blogpost {
        background:rgba(134, 211, 255, 0.451);
        color:#003e32;
        margin-left: 120px;
        margin-right: 120px;
        outline-style: double;
        outline-color: #94003e;
        padding-left: 10px;
        padding-right: 10px;
        flex-wrap: wrap;
    }

    h1 {
        font-family: Cloud Candy;
        src: url('font/Cloud\ Candy.ttf');
        color: rgb(185, 0, 83);
        font-size: 60px;
        text-align: center;
        margin-top: 0px;
        margin-bottom: 5px;

    }

    h2 {
        font-family: LT Asus Mono;
        src: url('LTAsusMono-Bold.tff');
        color: rgb(172, 0, 143);
        font-size: 25px;
        text-align: center;

    }

    h3 {
        font-family: LT Asus Mono;
        src: url('LTAsusMono-Italic.tff');
        color: rgb(85, 0, 146);
        font-size: 19px;
        text-align: center;
        margin-top: 10px;
        flex-wrap: wrap;

    }

    p {
        font-family: Lt Amber;
        src: url('font/lt_amber/LT\ Amber\ Cond\ Bold.otf');
        color:rgb(48, 0, 85);
        padding: 10px;
        font-size: 23px;
        text-align: justify;
        text-align-last: center;
        flex-wrap: wrap;
    }


    .date {
        font-family: LT Asus Mono;
        src: url('LTAsusMono-Italic.ttf');
        color: rgb(0, 89, 24);
        font-size: 20px;
        text-align: left;
        margin-top: 0px;
        margin-bottom: 5px;
    }
    .signature {
        font-family: Lt Amber;
        src: url('font/lt_amber/LT\ Amber\ Cond\ Bold.otf');
        color:rgb(0, 85, 255);
        font-size: 20px;
        text-align: right;
    }

    .summary {
        font-family: LT Asus Mono;
        src: url('LTAsusMono-Bold.tff');
        color: rgb(0, 82, 50);
        font-size: 30px;
        text-align: left;
        padding: 19px;
    }

        

    /* layout */

    @media only screen and (max-width: 600px) {
  h1 {
    font-size: 60px;
  }
  h3 {
    font-size: 16px;
  }
}

    @media only screen and (max-width: 400px) {
  h1 {
    font-size: 40px;
  }
  h3 {
    font-size: 14px;
  }
}
