    @font-face {
        font-family: Cloud Candy;
        src: url('font/Cloud\ Candy.ttf');
    }


    @font-face {
        font-family: LT Asus Mono;
        src: url('font/lt_asus/LTAsusMono-Bold.ttf');
    }

    @font-face {
        font-family: LT Asus Mono;
        src: url('font/lt_asus/LTAsusMono-Italic.ttf');
    }

    @font-face {
        font-family: LT Amber;
        src: url('font/lt_amber/LT\ Amber\ Cond\ Demibold.otf');
    }

     @font-face {
        font-family: LT Amber;
        src: url('font/lt_amber/LT\ Amber\ Cond\ Bold.otf.otf');
    }

body {
        padding: 5px;
        background-size: cover;
        align-items: center;
        background-position: center;
        background-image: url("bgs/newblogbg.jpg");
        background-repeat: repeat-y;
    }


    h1 {
        font-family: Cloud Candy;
        src: url('font/Cloud\ Candy.ttf');
        color: rgb(0, 59, 185);
        font-size: 60px;
        text-align: center;
        margin-top: 0px;
        margin-bottom: 5px;
        margin-left:120px;
        margin-right:120px;
    }

    h2 {
      font-family: LT Asus Mono;
      src: url('font/lt_asus/LTAsusMono-Bold.ttf');
      color: rgb(0, 39, 72);
      font-size: 25px;        
      text-align: center;
      flex-wrap: wrap;
      margin-left:120px;
      margin-right:120px;
    }

    h3 {
        font-family: LT Asus Mono;
        src: url('font/lt_asus/LTAsusMono-BoldItalic.ttf');
        color: rgb(0, 78, 36);
        font-size: 22px;
        margin-top: 10px;
        text-align: center;
        flex-wrap: wrap;
        margin-left:100px;
        margin-right:100px;

    }

    p {
        font-family: Lt Amber;
        src: url('font/lt_amber/LT\ Amber\ Cond\ Bold.otf');
        color:rgb(48, 0, 85);
        padding: 17px;
        font-size: 23px;
        text-align: justify;
        text-align-last: center;
        flex-wrap: wrap;
    }

    .page-header {
        position: relative;
        width: 100%;            /* full width of the page */
        text-align: center;     /* centers the title text */
        margin-top: 10px;
    }

    .page-header a {
        position: absolute;
        top: 0px;
        left: 20px;
        margin-top: 0;
        margin-left: 0px;
        padding: 0px;
        display: inline-block;
        justify-items: flex-start;
    }

   .page-header a img {
        width: 120px;
        height: 160px; 
        position: absolute; 
        object-fit: contain;
        transition: transform 0.2s ease;
        justify-items: flex-start;
    }


    .page-header a .label {
        position: absolute;
        opacity: 0;
        transition: opacity 0.3s ease;
        justify-items: flex-start;
    }

    .page-header a:hover img {
       transform: scale(1.5, 1.5);
       opacity: 0.3;
    }

    .page-header a:hover .label {
       opacity: 1; 
       position: absolute;
       z-index: 1; 
       pointer-events: none;
    }

    .blogpost {
        background:rgba(134, 211, 255, 0.451);
        color:#003e32;
        margin-left: 200px;
        margin-right: 200px;
        outline-style: double;
        outline-color: #94003e;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        flex-wrap: wrap;
    }
    .date {
        font-family: LT Asus Mono;
        src: url('LTAsusMono-Italic.ttf');
        color: rgb(0, 89, 24);
        font-size: 20px;
        text-align: left;
        margin-top: 0px;
        margin-bottom: 5px;
    }
    .signature {
        font-family: Lt Amber;
        src: url('font/lt_amber/LT\ Amber\ Cond\ Bold.otf');
        color:rgb(0, 85, 255);
        font-size: 20px;
        text-justify: right;
    }

    .blogpost details summary {
        font-family: LT Asus Mono;
        src: url('LTAsusMono-Bold.tff');
        color: rgb(0, 82, 50);
        font-size: 30px;
        text-align: left;
        padding: 19px;
    }

    .blogpost title {
        font-family: Lt Amber;
        src: url('font/lt_amber/LT\ Amber\ Cond\ Bold.otf');
        color:rgb(48, 0, 85);
        font-size: 30px;
        text-align: justify;
        text-align-last: center;
        flex-wrap: wrap;
    }

        
@media only screen and (max-width: 980px) {
    .page-header a img {
       width: 90px;
       height: 120px;  
       justify-content: space-between;
     }

    .blogpost {
        margin-left: 60px;
        margin-right: 60px;
     }
}

     @media only screen and (max-width: 600px) {
    .page-header a img {
     width: 60px;
     height: auto;
       }


    .blogpost {
        margin-left: 40px;
        margin-right: 40px;
        padding: 2px
       }

  h1 {
    font-size: 60px;
  }
  h3 {
    font-size: 16px;
  }
}

    @media only screen and (max-width: 400px) {
 h1 {
    font-size: 40px;
    margin: 0 0 10px 0;
  }
 .page-header {
    justify-content: space-between;
 }
 header a img{ 
    width: 50px;
    height: auto;
    margin: 0 10px 10px 10px;
 }

 .blogpost {
    margin-left: 40px;
    margin-right: 40px;
    padding: 2px
 }

 h3 {
    font-size: 14px;
    margin: 0 0 10px 0;
  }
}
