
    @font-face {
        font-family: Cloud Candy;
        src: url('font/Cloud\ Candy.ttf');
    }

    @font-face {
        font-family: Cotton Cloud;
        src: url('font/Cotton\ Cloud.ttf');
    }

    @font-face {
        font-family: LT Asus Mono;
        src: url('LTAsusMono-Bold.ttf');
    }

    @font-face {
        font-family: LT Asus Mono;
        src: url('LTAsusMono-Italic.ttf');
    }

    @font-face {
        font-family: LT Amber;
        src: url('font/lt_amber/LT\ Amber\ Cond\ Demibold.otf');
    }

     @font-face {
        font-family: LT Amber;
        src: url('font/lt_amber/LT\ Amber\ Cond\ Bold.otf.otf');
    }

    body {
        padding: 5px;
        font-size: 20px;
        color: #00499c;
        text-align: center;
        background-size: cover;
        align-items: center;
        background-position: center;
        background-image: url("bgs/procreate.jpg");
        background-repeat: repeat-y;
    }


    h1 {
        font-family: Cotton Cloud;
        src: url('font/Cotton\ Cloud.ttf');
        color: #620052;
        font-size: 70px;
        text-align: center;
        margin-top: 0px;
        margin-bottom: 5px;

    }

    h2 {
        font-family: LT Asus Mono;
        src: url('LTAsusMono-Bold.tff');
        color: rgb(161, 0, 75);
        font-size: 30px;
        text-align: center;

    }

    h3 {
        font-family: LT Asus Mono;
        src: url('LTAsusMono-Italic.tff');
        color: rgb(69, 0, 133);
        font-size: 20px;
        text-align: center;
        flex-wrap: wrap;

    }

    p {
        font-family: Lt Amber;
        src: url('font/lt_amber/LT\ Amber\ Cond\ Bold.otf');
        color:#0b53fb;
        font-size: 20px;
        text-align: center;
    }


    /* layout */


.grid-container {
  display: inline-grid;
  place-content: space-around center;
  grid-template-columns: repeat(3, 150px);
  gap: 2rem;
  max-width: 1080px;
  justify-items: center;
  align-items: center;
}

.grid-container a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
}

.grid-container a img {
  width: 100%;
  height: 100%; 
  object-fit: contain;
  transition: transform 0.2s ease;
}

.grid-container a:hover img {
  transform: scale(1.2);
  opacity: 0.3;
}

.grid-container .label {
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-family: LT Asus Mono;
    src: url('LTAsusMono-Bold.tff');
    color: rgb(0, 41, 174);
    font-size: 20px;
}

.grid-container a:hover .label {
    opacity: 1; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; 
}

    h1 {
        color:#620052;
        text-align: center;
    }

   
    h2,
    h3 {
        color: #00244d;
    }

    h1 {
        font-size: 130px;
    }



    @media only screen and (max-width: 980px) {
        .grid-container {
    grid-template-columns: repeat(2, 120px); /* 2 per row on tablets */
  }
}

     @media only screen and (max-width: 600px) {
        .grid-container {
    grid-template-columns: repeat(1, 120px); /* 1 per row on phones */
  }
}

    @media only screen and (max-width: 600px) {
  h1 {
    font-size: 60px;
  }
  h3 {
    font-size: 16px;
  }
}

    @media only screen and (max-width: 400px) {
  h1 {
    font-size: 40px;
  }
  h3 {
    font-size: 14px;
  }
}


