/* user styles */

    /* if you have the URL of a font, you can set it below */
    /* feel free to delete this if it's not your vibe */

    /* this seems like a lot for just one font and I would have to agree 
but I wanted to include an example of how to include a custom font.
If you download a font file you can upload it onto your Neocities
and then link it! Many fonts have separate files for each style
(bold, italic, etc. T_T) which is why there are so many!

*/

    @font-face {
        font-family: Cloud Candy;
        src: url('font/Cloud\ Candy.ttf');
    }

    @font-face {
        font-family: Cotton Cloud;
        src: url('font/Cotton\ Cloud.ttf');
    }

    @font-face {
        font-family: LT Asus Mono;
        src: url('LTAsusMono-Bold.ttf');
    }

    @font-face {
        font-family: LT Asus Mono;
        src: url('LTAsusMono-Italic.ttf');
    }

    @font-face {
        font-family: LT Amber;
        src: url('font/lt_amber/LT\ Amber\ Cond\ Demibold.otf');
    }

     @font-face {
        font-family: LT Amber;
        src: url('font/lt_amber/LT\ Amber\ Cond\ Bold.otf.otf');
    }

    body {
        margin: 70px;
        padding: 20px;
        border: 3px;
        color: #002e62;
        background-color: #feffe4;
        /* you can delete the line below if you'd prefer to not use an image */
        background-size: 1920px 1080px;
        color: #fceaff;
        background-image: url("bgs/sky.jpeg");
        background-repeat: repeat-y;
    }

    title {
        font-family: Cotton Cloud;
        src: url('font/Cotton\ Cloud.ttf');
        color: rgb(255, 47, 71);
        font-size: 50px;
        text-align: center;
    }

    h1 {
        font-family: LT Asus Mono;
        src: url('LTAsusMono-Bold.tff');
        color: rgb(100, 0, 133);
        font-size: 30px;
        text-align: justify;

    }

    h2 {
        font-family: LT Asus Mono;
        src: url('LTAsusMono-Bold.tff');
        color: rgb(100, 0, 133);
        font-size: 20px;
        text-align: justify;

    }

    h3 {
        font-family: LT Asus Mono;
        src: url('LTAsusMono-Italic.tff');
        color: rgb(100, 0, 133);
        font-size: 20px;
        text-align: justify;

    }

    p {
        font-family: Lt Amber;
        src: url('font/lt_amber/LT\ Amber\ Cond\ Demibold.otf');
        color:#00244d;
        font-size: 15px;
        text-align: justify;
    }


    html, body {
        box-sizing: border-box;
    }

    /* below this line is CSS for the layout */




    #flex {
        display: flex;
    }

   main {
        width:fit-content;
        flex: 1;
        padding: 20px;
        order: 2;
    }

    #main {
        order: 2
    }

    footer {
        background-color: #005fb9;
        /* background color for footer */
        width: 100%;
        height: 40px;
        padding: 10px;
        text-align: center;
        /* this centers the footer text */
    }

    h1,
    h2,
    h3 {
        color: #00244d;
    }

    h1 {
        font-size: 25px;
    }

    strong {
        /* this styles bold text */
        color: #00244d;
    }

  


    /* BELOW THIS POINT IS MEDIA QUERY */

    /* so you wanna change the width of your page? 
by default, the container width is 900px.
in order to keep things responsive, take your new height,
and then subtrack it by 100. use this new number as the 
"max-width" value below
*/

    @media only screen and (max-width: 900px) {
        #flex {
            flex-wrap: wrap;
        }

        aside {
            width: 100%;
        }

        /* the order of the items is adjusted here for responsiveness!
since the sidebars would be too small on a mobile device.
feel free to play around with the order!
*/
        main {
            order: 1;
        }

        #leftSidebar {
            order: 2;
        }

        #rightSidebar {
            order: 3;
        }

        #navbar ul {
            flex-wrap: wrap;
        }
    }

